version: "3.8"

services:
  db:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_USER: ${PG__USER}
      POSTGRES_PASSWORD: ${PG__PASSWORD}
      POSTGRES_DB: ${PG__DBNAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/01_schema.sql

  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      PG__USER: ${PG__USER}
      PG__PASSWORD: ${PG__PASSWORD}
      PG__DBNAME: ${PG__DBNAME}
      PG__HOST: ${PG__HOST}
      PG__URL: ${PG__URL}
      PG__POOL__MAX_SIZE: ${PG__POOL__MAX_SIZE}

      ADMIN_USER: ${ADMIN_USER}
      ADMIN_PASS: ${ADMIN_PASS}
      JWT_SECRET: ${JWT_SECRET}
      COOKIE_SECURE: ${COOKIE_SECURE:-false}
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  db_data:
